---
apiVersion: v1
data:
  cluster.name: {{ .ClusterName }}
  logs.region: {{ .Region }}
  # The below configuration file is in JSON format.
  # Please ensure you keep it well-formed if you modify it.
  cluster-info.json: |
    {
      "cluster": {
        "name": "{{ .ClusterName }}"
      },
      "logs": {
        "region": "{{ .Region }}"
      }
    }
kind: ConfigMap
metadata:
  name: cluster-info
  namespace: amazon-cloudwatch
